/* Laptop */

@media only screen and (max-width: 1280px) {

 .header h1 {
  font-size: 2rem;
 }

 .header button {
  font-size: 12px;
 }

 .homepage-main-video video {
  max-width: 1050px;
 }

 .container h3 {
  font-size: 1.4rem;
 }

 .container p {
  font-size: 0.7rem;
 }

 .expert_homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .expert_homepage h4 {

  font-size: 1.8rem;

 }

 .expert_homepage button {
  font-size: 0.8rem;
 }

 .expert_homepage img {
  max-width: 450px;
 }

}